@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sd2;
}
@font-face {
    font-family: sd2;
    src: url(fonts\Calculator.woff2);
}
@font-face {
    font-family: sd1;
    src: url(fonts\Calculator.ttf);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0078D4;
}
.frank{
    position: absolute;
}
#en{
    border-radius: 5px;
    border-color: rgb(141, 143, 139);
    position: relative;
    display: inline-block;
    top:-166px;
    background-color: rgb(141, 143, 139,0);
    border-color: rgb(141, 143, 139,0);
    width: 100%;
    color:#1E1A16;
    font-family: sd2;
    font-size: 30px;
    padding: 0;
    margin:10px
}
#nod{
    border-radius: 100px;
    border-color: #68CDFE;
    padding: 10px;  
    border: solid;
    margin: 5px;
    position: relative;
    display: inline-block;
}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos{
    color: #68CDFE;
    font-size: 100px;
    position: absolute;
    display: inline-block;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: space-around;
}   