*{
    margin:0;
    padding:0;
    box-sizing:border-box;  
}
.main_box{
    height: 736px;
    width: 736px;
    position:relative;
    top:150px;
    right:8%;
}
.box{
    height:2000px;
    position:absolute;
}
.text{
    position:relative;
    bottom: 300px;
    left:26%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 150vh; */
    margin-bottom: 40vh;
    background-color: #90e0ef;
}
#en{
    border-radius: 5px;
    color:#1E1A16;
    padding:0;
    font-size: 53px;
    width:340px;
    position: absolute;
    top: 130px;
    left:210px;
    background-color: rgb(0,0,0,0);
    border:rgb(0,0,0,0);
}
#nod{
    border-radius: 10px;
    border-color: #68CDFE;
    padding: 10px;  
    border: solid;
    margin: 5px;
    display: inline-block;
    position: absolute;
    top:255px;
    left: 150px;
    color:#FFFFFF;
    background-color: #0C0C0C;
}
.picture{
    z-index: -1;
    position:absolute;
}
#square{
    top:36px;
    left:173px;
    position: absolute;
    z-index: -1;
    height:38%;
}
.logos{
    color: #68CDFE;
    font-size: 100px;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
}
#l_lock{
        font-size: 50px;
        background-color: rgb(0,0,0,0.7);
        padding: 135px 155px 135px 155px;
        top:312px;
        left:150px;
        position: absolute;
        border: rgb(0,0,0,0) solid;
        border-radius: 8px;
        color: rgb(255,255,255,0.8);
        opacity: 0;
        transition: opacity 0.3s;

}
#r_lock{
    font-size: 50px;
    background-color: rgb(0,0,0,0.7);
    position: absolute;
    border: rgb(0,0,0,0) solid;
    border-radius: 8px;
    color: rgb(255,255,255,0.8);
    top:253px;
    left:445px;
    padding:130px 45px 130px 45px;
    opacity: 0;
    transition: opacity 0.3s;
}
#l_lock:hover {
    opacity: 1;
    pointer-events: auto;
}
#r_lock:hover {
    opacity: 1;
    pointer-events: auto;
}
.btn{
    position: absolute;
    top:579px;
    left: 526px;
    padding:21px 27px 22px 26px;
    background-color: rgb(0,0,0,0);
}
.sup{
    position: fixed;
    top: 87.5%;
    background-color: #0096c7;
    padding: 10px 800px 10px 800px;
}
.lan{
    background-color: rgb(0,0,0,0);
}